<div fxLayout="column" fxFlex>
  <mat-card fxFlex fxLayout="column">
    <mailjet-header
      [settings]="settings"
      [error]="loadingError"
      (sendDialogOpened)="openSendDialog('simple')"
      (settingsOpened)="openSetup.emit()"
      (timelineChanged)="statsTimelineChange($event)">
    </mailjet-header>
    <mat-divider></mat-divider>
    <div fxFlex fxLayout="column">
      <mat-card-content fxFlex fxLayout="column">
        <ng-container *ngIf="settings && settings.from && settings.apikey; else noSettingsTemplate">
          <ng-container *ngIf="! loadingError; else loadingErrorTemplate">
          <mat-accordion fxFlex fxLayout="column">
            <mat-expansion-panel #stats [expanded]="statsExpanded" (opened)="statsExpanded = true" (closed)="statsExpanded = false" [ngClass]="{'flexed': statsExpanded}">
              <mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon style="margin-right: 10px;">timeline</mat-icon>
                  <h2>Statistics</h2>
                </div>
              </mat-expansion-panel-header>
              <div fxFlex fxLayout="row">
                <mailjet-statistic [data]="data" [xAbsis]="timeUnits" [expanded]="statsExpanded" [loading]="statsProcessing"></mailjet-statistic>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="emailsExpanded = true" (closed)="emailsExpanded = false" [ngClass]="{'flexed': emailsExpanded}">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon style="margin-right: 10px;">email</mat-icon>
                  <h2 [matBadge]="nbEmails || 0" matBadgeOverlap="false">Emails sent</h2>
                </div>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-list *ngIf="emails && emails.length">
                  <mat-list-item class="list-title">
                    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                      <span fxFlex>Email</span>
                      <span fxFlex fxLayout="row" style="margin-left: 10px;">ArrivedAt
                      </span>
                      <span fxFlex>Subject
                      </span>
                      <span>Status
                      </span>
                    </div>
                  </mat-list-item>
                  <mat-list-item *ngFor="let email of emails">
                    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="start center">
                      <span fxFlex>{{ email.ContactAlt }}</span>
                      <span fxFlex fxLayout="row" style="margin-left: 10px;">
                        {{ email.ArrivedAt | date:'medium' }}
                      </span>
                      <span fxFlex>{{ email.Subject }}
                      </span>
                      <span fxLayout="row" [style.color]="statusColors[email.Status]" style="font-weight: bold;">{{ email.Status }}</span>
                    </div>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
                <div *ngIf="emails && emails.length == 0" fxFlex fxLayout="column" fxLayoutAlign="center center">
                  <p style="margin-bottom: 15px;">
                    <strong>No email has been sent during this period</strong>
                  </p>
                  <button mat-button color="primary" (click)="openSendDialog('simple')">Send a test email now</button>
                </div>
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="contactsExpanded = true" (closed)="contactsExpanded = false" [ngClass]="{'flexed': contactsExpanded}">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon style="margin-right: 10px;">contact_mail</mat-icon>
                  <h2 [matBadge]="contacts?.length || 0" matBadgeOverlap="false">Contacts</h2>
                </div>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
              <mat-list *ngIf="contacts && contacts.length">
                <mat-list-item class="list-title">
                    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                        <span fxFlex>Email</span>
                        <span fxFlex>CreatedAt
                        </span>
                        <span style="width: 50px;">
                        </span>
                    </div>
                </mat-list-item>
                <mat-list-item *ngFor="let contact of contacts">
                  <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                    <span fxFlex>{{ contact.Email }}</span>
                    <span fxFlex>{{ contact.CreatedAt | date }}
                    </span>
                    <button mat-icon-button>
                      <mat-icon matTooltip="Send an email" (click)="openSendToDialog(contact.Email)">send</mat-icon>
                    </button>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </ng-template>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="contacts && !contacts.length">
              <span>You haven't any contacts yet</span>
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="templatesExpanded = true" (closed)="templatesExpanded = false" [ngClass]="{'flexed': templatesExpanded}">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon style="margin-right: 10px;">chrome_reader_mode</mat-icon>
                  <h2 [matBadge]="templates?.length || 0" matBadgeOverlap="false">Templates</h2>
                </div>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
              <mat-list *ngIf="templates && templates.length">
                <mat-list-item class="list-title">
                    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                        <span fxFlex>Name</span>
                        <span fxFlex>Author
                        </span>
                        <span fxFlex>CreatedAt
                        </span>
                        <span style="width: 100px;">
                          <button mat-mini-fab *ngIf="templatesExpanded" style="margin: 5px;" matTooltip="New template">
                            <mat-icon (click)="openTemplateEditor(true)">
                              add
                            </mat-icon>
                          </button>
                        </span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item *ngFor="let template of templates">
                  <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                    <span fxFlex>{{ template.Name }}</span>
                    <span fxFlex>{{ template.Author }}
                    </span>
                    <span fxFlex>{{ template.CreatedAt | date }}
                    </span>
                    <button mat-icon-button>
                        <mat-icon matTooltip="Send" (click)="openSendDialog('template'); templateSelected = template.ID;">send</mat-icon>
                      </button>
                    <button mat-icon-button>
                      <mat-icon matTooltip="Edit" (click)="openMailjetTemplateEditor(template)">edit</mat-icon>
                    </button>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
              <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="! templates || (templates && ! templates.length)">
                <p style="margin-bottom: 15px;">
                  <strong>You haven't created any template yet</strong>
                </p>
                <button mat-button color="primary" (click)="openTemplateEditor(true)">
                  Create my first template
                </button>
              </div>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
      </ng-container>
      </mat-card-content>
    </div>
  </mat-card>
</div>
<mailjet-template-editor [edition]="!newTemplate" [user]="mailjetUser" [settings]="settings" (confirmed)="saveTemplate($event)" (cancelled)="closeTemplateEditor()">
</mailjet-template-editor>
<mailjet-send-modal [templates]="templates" [templateId]="templateSelected" [to]="sendTo" [subject]="sendSubject" [type]="sendType" (cancelled)="closeSendDialog()" (confirmed)="send($event)"></mailjet-send-modal>
<ng-template #loadingErrorTemplate>
	<mat-card-content fxLayout="column" fxFlex fxLayoutAlign="center center" [style.margin]="'50px'" [style.background]="'#F44336'" [style.color]="'white'">
		<span style="font-size: 15px; margin: 10px;">
			There was a problem loading your mailjet account...
		</span>
		<span style="font-size: 15px; margin: 10px;">
			This is probably an error in your mailjet settings:
		</span>
		<button mat-raised-button (click)="openSetup.emit()">OPEN SETTINGS</button>
	</mat-card-content>
</ng-template>
<ng-template #noSettingsTemplate>
  <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="! settings || ! settings.from || ! settings.apikey" style="padding: 15px;">
    <p>You need a Mailjet account to use this addon.</p>
    <button mat-raised-button (click)="openMailjetSignup()" class="mailjet-button">SIGNUP TO MAILJET</button>
    <p style="margin-top: 45px;">Already have a Mailjet account ? Please fill the settings with your <span class="link" (click)="openInBrowser.emit('https://app.mailjet.com/account/api_keys')">Mailjet API keys</span>:</p>
    <button mat-raised-button (click)="openSetup.emit()" class="mailjet-button">ADDON SETTINGS</button>
  </mat-card-content>
</ng-template>
