<div fxLayout="column" fxFlex>
  <mat-card fxFlex fxLayout="column">
    <mailjet-header
      [settings]="settings"
      [error]="loadingError"
      (sendDialogOpened)="openSendDialog('simple')"
      (settingsOpened)="openSetup.emit()"
      (timelineChanged)="statsTimelineChange($event)">
    </mailjet-header>
    <mat-divider></mat-divider>
    <div fxFlex fxLayout="column">
      <mat-card-content fxFlex fxLayout="column">
        <ng-container *ngIf="settings && settings.from && settings.apikey; else noSettingsTemplate">
          <ng-container *ngIf="! loadingError; else loadingErrorTemplate">
          <mat-accordion fxFlex fxLayout="column">
            <mat-expansion-panel #stats [expanded]="statsExpanded" (opened)="statsExpanded = true" (closed)="statsExpanded = false" [ngClass]="{'flexed': statsExpanded}">
              <mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon style="margin-right: 10px;">timeline</mat-icon>
                  <h2>Statistics</h2>
                </div>
              </mat-expansion-panel-header>
              <div fxFlex fxLayout="column">
                <mailjet-statistic [data]="data" [xAbsis]="timeUnits" [expanded]="statsExpanded" [loading]="statsProcessing"></mailjet-statistic>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="emailsExpanded = true" (closed)="emailsExpanded = false" [ngClass]="{'flexed': emailsExpanded}">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon style="margin-right: 10px;">email</mat-icon>
                  <h2 [matBadge]="nbEmails || 0" matBadgeOverlap="false">Emails sent</h2>
                </div>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mailjet-email-sent [emails]="emails" [statusColors]="statusColors" (openSendDialog)="openSendDialog('simple')"></mailjet-email-sent>
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="contactsExpanded = true" (closed)="contactsExpanded = false" [ngClass]="{'flexed': contactsExpanded}">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon style="margin-right: 10px;">contact_mail</mat-icon>
                  <h2 [matBadge]="contacts?.length || 0" matBadgeOverlap="false">Contacts</h2>
                </div>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mailjet-contact-list [contacts]="contacts" (openSendToDialog)="openSendToDialog($event)"></mailjet-contact-list>
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="templatesExpanded = true" (closed)="templatesExpanded = false" [ngClass]="{'flexed': templatesExpanded}">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon style="margin-right: 10px;">chrome_reader_mode</mat-icon>
                  <h2 [matBadge]="templates?.length || 0" matBadgeOverlap="false">Templates</h2>
                </div>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mailjet-template-list [expanded]="templatesExpanded" [templates]="templates" (edit)="openTemplateEditor($event)" (new)="openTemplateEditor(true)" (openSendDialog)="openSendDialog('template', $event)"></mailjet-template-list>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
      </ng-container>
      </mat-card-content>
    </div>
  </mat-card>
</div>
<ng-template #loadingErrorTemplate>
	<mat-card-content fxLayout="column" fxFlex fxLayoutAlign="center center" [style.margin]="'50px'" [style.background]="'#F44336'" [style.color]="'white'">
		<span style="font-size: 15px; margin: 10px;">
			There was a problem loading your mailjet account...
		</span>
		<span style="font-size: 15px; margin: 10px;">
			This is probably an error in your mailjet settings:
		</span>
		<button mat-raised-button (click)="openSetup.emit()">OPEN SETTINGS</button>
	</mat-card-content>
</ng-template>
<ng-template #noSettingsTemplate>
  <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="! settings || ! settings.from || ! settings.apikey" style="padding: 15px;">
    <p>You need a Mailjet account to use this addon.</p>
    <button mat-raised-button (click)="openMailjetSignup()" class="mailjet-button">SIGNUP TO MAILJET</button>
    <p style="margin-top: 45px;">Already have a Mailjet account ? Please fill the settings with your <span class="link" (click)="openInBrowser.emit('https://app.mailjet.com/account/api_keys')">Mailjet API keys</span>:</p>
    <button mat-raised-button (click)="openSetup.emit()" class="mailjet-button">ADDON SETTINGS</button>
  </mat-card-content>
</ng-template>
