<ng-template #templateDialog>
  <mat-toolbar class="mailjet-theme">
    <mat-icon>
        chrome_reader_mode
    </mat-icon>
      <h1>{{ edition ? 'Edit' : 'New' }} template</h1>
  </mat-toolbar>
  <form fxLayout="column" [formGroup]="templateForm">
    <mat-form-field>
      <input matInput placeholder="Template name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Author" formControlName="author">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="mailjet-theme" (click)="confirm()">Confirm</button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>
  </form>
</ng-template>