<ng-template #sendDialog>
  <mat-toolbar class="mailjet-theme">
    <mat-icon>
      send
    </mat-icon>
    <h1>Send an email</h1>
  </mat-toolbar>
  <form fxLayout="column" [formGroup]="sendForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-button-toggle-group #messageTypeGroup="matButtonToggleGroup" [value]="type" (valueChange)="refreshForm($event)">
        <mat-button-toggle value="simple">Simple</mat-button-toggle>
        <mat-button-toggle value="template" [disabled]="! templates?.length">Template</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field>
      <input matInput placeholder="Subject" formControlName="subject">
    </mat-form-field>
    <mat-form-field *ngIf="type === 'simple'">
      <textarea matInput placeholder="Body" formControlName="body"></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="type === 'template'">
      <mat-select placeholder="Template" formControlName="template">
        <mat-option *ngFor="let template of templates" [value]="template.ID">
          {{ template.Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="To" formControlName="to">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-raised-button class="mailjet-theme" (click)="send()">SEND</button>
      <button mat-raised-button (click)="cancelled.emit()">CANCEL</button>
    </div>
  </form>
</ng-template>
