<div fxFlex fxLayout="row" *ngIf="! loading && data && data.length">
  <div class="legend">
      <div class="legend-container" fxLayout="column">
        <mailjet-stats-counter backgroundColor="#2196F3" width="80" height="60" color="white" label="Sent" [count]="counts['sent']"></mailjet-stats-counter>
        <mailjet-stats-counter backgroundColor="#4CAF50" width="80" height="60" color="white" label="Opened" [count]="counts['opened']"></mailjet-stats-counter>
        <mailjet-stats-counter backgroundColor="#8BC34A" width="80" height="60" color="white" label="Clicked" [count]="counts['clicked']"></mailjet-stats-counter>
        <mailjet-stats-counter backgroundColor="#FFC107" width="80" height="60" color="white" label="Spam" [count]="counts['spam']"></mailjet-stats-counter>
        <mailjet-stats-counter backgroundColor="#F44336" width="80" height="60" color="white" label="Bounce" [count]="counts['bounce']"></mailjet-stats-counter>
        <mailjet-stats-counter backgroundColor="black" width="80" height="60" color="white" label="Blocked" [count]="counts['blocked']"></mailjet-stats-counter>
      </div>
  </div>
  <div fxFlex fxLayout="column" class="chart-section">
    <div class="chart-container">
      <div *ngIf="xAbsis && data" class="chart" echarts [options]="chartOptions">
      </div>
    </div>
  </div>
</div>
<div fxFlex fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div fxFlex fxLayout="row" fxLayoutAlign="center center" *ngIf=" ! loading && data && ! data.length">
  <p>No statistics for this period</p>
</div>
