:host {
	flex: 1 1 0;
	display: flex;
	height: 100%;
}

.mailjet::ng-deep .mat-tab-body-wrapper {
	display: flex;
	flex: 1;
	.mat-tab-body-content {
		display: flex;
		flex: 1;
	}
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
	width: 50%;
}
mat-expansion-panel {
	width: 100%;
}
.email-body {
	padding: 0 15px 15px 15px;
}
mat-card {
	margin: 8px;
	padding: 0px;
	button {
		margin: 0 5px;
	}
}
mat-tab {
	padding: 8px;
}
.template-bar {
	width: 150px;
	margin: 0px;
}
.template-list {
	width: 100%;
}
:host::ng-deep mat-list-item.active {
	border-right: 4px solid #2196f3;
}
:host::ng-deep mat-button-toggle.active {
	background: #2196f3;
	color: white;
}
