<div fxLayout="column" fxFlex class="mailjet unicorn-dark-theme">
  <mat-card fxFlex fxLayout="column">
    <mailjet-header
      [settings]="settings"
      (sendDialogOpened)="openSendDialog('simple')"
      (settingsOpened)="openSetup.emit()"
      (timelineChanged)="statsTimelineChange($event)">
    </mailjet-header>
    <mat-divider></mat-divider>
    <div fxFlex fxLayout="column">
      <mat-card-content fxFlex fxLayout="column" *ngIf="settings && settings.from && settings.apikey">
        <mat-accordion fxFlex fxLayout="column">
          <mat-expansion-panel #stats [expanded]="statsExpanded" (opened)="statsExpanded = true" (closed)="statsExpanded = false" [ngClass]="{'flexed': statsExpanded}">
            <mat-expansion-panel-header>
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="margin-right: 10px;">timeline</mat-icon>
                <h2>Statistics</h2>
              </div>
            </mat-expansion-panel-header>
            <div fxFlex fxLayout="row">
              <mailjet-statistic [data]="data" [loading]="statsProcessing"></mailjet-statistic>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="emailsExpanded = true" (closed)="emailsExpanded = false" [ngClass]="{'flexed': emailsExpanded}">
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="margin-right: 10px;">email</mat-icon>
                <h2 [matBadge]="nbEmails || 0" matBadgeOverlap="false">Emails sent</h2>
              </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-list>
                <mat-list-item class="list-title">
                  <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                    <span fxFlex>Email</span>
                    <span fxFlex fxLayout="row" style="margin-left: 10px;">ArrivedAt
                    </span>
                    <span fxFlex>Subject
                    </span>
                    <span>Status
                    </span>
                  </div>
                </mat-list-item>
                <mat-list-item *ngFor="let email of emails">
                  <div style="width: 100%;" fxLayout="row" fxLayoutAlign="start center">
                    <span fxFlex>{{ email.ContactAlt }}</span>
                    <span fxFlex fxLayout="row" style="margin-left: 10px;">
                      {{ email.ArrivedAt | date }}
                    </span>
                    <span fxFlex>{{ email.Subject }}
                    </span>
                    <span fxLayout="row" [style.color]="statusColors[email.Status]" style="font-weight: bold;">{{ email.Status }}</span>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
              <div *ngIf="emails && emails.length == 0" style="min-height: 140px;" fxLayout="column" fxLayoutAlign="start center">
                <p style="padding-left: 16px; margin-bottom: 15px;">
                  <strong>No email has been sent during this period</strong>
                </p>
                <button mat-button color="primary" (click)="openSendDialog('simple')">Send a test email now</button>
              </div>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="contactsExpanded = true" (closed)="contactsExpanded = false" [ngClass]="{'flexed': contactsExpanded}">
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="margin-right: 10px;">contact_mail</mat-icon>
                <h2 [matBadge]="contacts?.length || 0" matBadgeOverlap="false">Contacts</h2>
              </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
            <mat-list>
              <mat-list-item class="list-title">
                  <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                      <span fxFlex>Email</span>
                      <span fxFlex>CreatedAt
                      </span>
                      <span style="width: 50px;">
                      </span>
                  </div>
              </mat-list-item>
              <mat-list-item *ngFor="let contact of contacts">
                <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                  <span fxFlex>{{ contact.Email }}</span>
                  <span fxFlex>{{ contact.CreatedAt | date }}
                  </span>
                  <button mat-icon-button>
                    <mat-icon matTooltip="Send an email" (click)="openSendToDialog(contact.Email)">send</mat-icon>
                  </button>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="templatesExpanded = true" (closed)="templatesExpanded = false" [ngClass]="{'flexed': templatesExpanded}">
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="margin-right: 10px;">chrome_reader_mode</mat-icon>
                <h2 [matBadge]="templates?.length || 0" matBadgeOverlap="false">Templates</h2>
              </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
            <mat-list *ngIf="templates && templates.length">
              <mat-list-item class="list-title">
                  <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                      <span fxFlex>Name</span>
                      <span fxFlex>Author
                      </span>
                      <span fxFlex>CreatedAt
                      </span>
                      <span style="width: 100px;">
                        <button mat-mini-fab *ngIf="templatesExpanded" style="margin: 5px;" matTooltip="New template">
                          <mat-icon (click)="openTemplateEditor(true)">
                            add
                          </mat-icon>
                        </button>
                      </span>
                  </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item *ngFor="let template of templates">
                <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                  <span fxFlex>{{ template.Name }}</span>
                  <span fxFlex>{{ template.Author }}
                  </span>
                  <span fxFlex>{{ template.CreatedAt | date }}
                  </span>
                  <button mat-icon-button>
                      <mat-icon matTooltip="Send" (click)="openSendDialog('template'); templateSelected = template.ID;">send</mat-icon>
                    </button>
                  <button mat-icon-button>
                    <mat-icon matTooltip="Edit" (click)="openMailjetTemplateEditor(template)">edit</mat-icon>
                  </button>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="! templates">
              <span>You haven't created any template yet</span>
              <button mat-raised-button color="primary" (click)="openTemplateEditor(true)">
                Create my first template
              </button>
            </div>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </div>
  </mat-card>
</div>
<mailjet-template-editor [edition]="!newTemplate" [user]="mailjetUser" [settings]="settings" (confirmed)="saveTemplate($event)" (cancelled)="closeTemplateEditor()">
</mailjet-template-editor>
<mailjet-send-modal [templates]="templates" [templateId]="templateSelected" [to]="sendTo" [subject]="sendSubject" [type]="sendType" (cancelled)="closeSendDialog()" (confirmed)="send($event)"></mailjet-send-modal>
