<div fxLayout="column" fxFlex class="mailjet">
  <mat-card fxFlex fxLayout="column">
    <mailjet-header
      [settings]="settings"
      (sendDialogOpened)="openSendDialog()"
      (settingsOpened)="openSetup.emit()"
      (timelineChanged)="statsTimelineChange($event)">
    </mailjet-header>
    <mat-divider></mat-divider>
    <div fxFlex fxLayout="column">
      <mat-card-content fxFlex fxLayout="column" *ngIf="settings && settings.from && settings.apikey">
        <mat-accordion fxFlex fxLayout="column">
          <mat-expansion-panel #stats [expanded]="statsExpanded" (opened)="statsExpanded = true" (closed)="statsExpanded = false" [ngClass]="{'flexed': statsExpanded}">
            <mat-expansion-panel-header>
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="margin-right: 10px;">timeline</mat-icon>
                <h2>Statistics</h2>
              </div>
            </mat-expansion-panel-header>
            <div fxFlex fxLayout="row">
              <mailjet-statistic [data]="data"></mailjet-statistic>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="emailsExpanded = true" (closed)="emailsExpanded = false" [ngClass]="{'flexed': emailsExpanded}">
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="margin-right: 10px;">email</mat-icon>
                <h2>Emails sent</h2>
              </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent style="width: 100%; padding: 0 24px;">
              <mat-list style="margin: 0 24px;">
                <mat-list-item *ngFor="let email of emails">
                  <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                    <span fxFlex>{{ email.ContactAlt }}</span>
                    <span fxFlex>{{ email.Subject }} -
                      <span style="font-size: 0.8rem">
                        {{ email.ArrivedAt | date }}
                      </span>
                    </span>
                    <span [style.color]="statusColors[email.Status]" style="font-weight: bold;">{{ email.Status }}</span>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
              <div *ngIf="emails && emails.length == 0" style="min-height: 140px;" fxLayout="column" fxLayoutAlign="start center">
                <p style="padding-left: 16px; margin-bottom: 15px;">
                  <strong>No email has been sent during this period</strong>
                </p>
                <button mat-button color="primary" (click)="openSendDialog()">Send a test email now</button>
              </div>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="contactsExpanded = true" (closed)="contactsExpanded = false" [ngClass]="{'flexed': contactsExpanded}">
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="margin-right: 10px;">contact_mail</mat-icon>
                <h2>Contacts</h2>
              </div>
            </mat-expansion-panel-header>
            <mat-list style="margin: 0 24px;">
              <mat-list-item *ngFor="let contact of contacts">
                <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                  <span fxFlex>{{ contact.Email }}</span>
                  <span fxFlex>{{ contact.CreatedAt | date:'fullDate' }}
                  </span>
                  <button mat-icon-button>
                    <mat-icon matTooltip="Send an email" (click)="openSendToDialog(contact.Email)">send</mat-icon>
                  </button>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="templatesExpanded = true" (closed)="templatesExpanded = false" [ngClass]="{'flexed': templatesExpanded}">
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="margin-right: 10px;">chrome_reader_mode</mat-icon>
                <h2>Templates</h2>
              </div>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="start center" class="template-actions">
              <button mat-mini-fab *ngIf="templatesExpanded" style="margin: 5px;" matTooltip="New template">
                <mat-icon (click)="openTemplateEditor(true)">
                  add
                </mat-icon>
              </button>
            </div>
            <mat-list style="margin: 0 24px;" *ngIf="templates && templates.length">
              <mat-list-item *ngFor="let template of templates">
                <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                  <span fxFlex>{{ template.Name }}</span>
                  <span fxFlex>{{ template.Author }}
                  </span>
                  <span fxFlex>{{ template.CreatedAt | date:'fullDate' }}
                  </span>
                  <button mat-icon-button>
                    <mat-icon matTooltip="Edit" (click)="openMailjetTemplateEditor(template.ID)">edit</mat-icon>
                  </button>
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="! templates">
              <span>You haven't created any template yet</span>
              <button mat-raised-button color="primary" (click)="openTemplateEditor(true)">
                Create my first template
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </div>
  </mat-card>
</div>
<ng-template #sendDialog>
  <form fxLayout="column">
    <h1>Send an email</h1>
    <mat-form-field>
      <input matInput placeholder="Subject" [formControl]="subject">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Body" [formControl]="body"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="To" [formControl]="to">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="send()">Send</button>
</ng-template>
<mailjet-template-editor [edition]="!newTemplate" [user]="mailjetUser" [settings]="settings" (confirmed)="saveTemplate($event)" (cancelled)="closeTemplateEditor()">
</mailjet-template-editor>
